header .cart {
  align-self: center;
  height: 6vh;
  padding-right: 2rem; }

#form {
  background-image: url("/assets/logo-contacto.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  #form form {
    align-items: center;
    margin: 2rem;
    padding: 1.5rem 0rem;
    box-shadow: 0 0 10px #8c8888;
    font-family: "Staatliches", cursive;
    width: 60vw;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem; }
    @media (max-width: 992px) {
      #form form {
        font-size: 1.2rem; } }
    @media (max-width: 768px) {
      #form form {
        font-size: 1rem;
        align-items: space-around; } }
    #form form div {
      padding: 0.7rem 0.7rem 0.7rem 0rem; }
      @media (max-width: 768px) {
        #form form div {
          margin-left: -3rem; } }
    #form form .section-contacto__form--nombre {
      display: flex;
      flex-direction: column; }
      #form form .section-contacto__form--nombre input {
        width: 45vw;
        height: 2rem;
        font-size: 1rem;
        border: none; }
    #form form .section-contacto__form--email {
      display: flex;
      flex-direction: column; }
      #form form .section-contacto__form--email input {
        width: 45vw;
        height: 2rem;
        font-size: 1rem;
        border: none; }
    #form form .section-contacto__form--consulta {
      display: flex;
      flex-direction: column; }
      #form form .section-contacto__form--consulta label {
        padding: 0rem 2.7rem 0.5rem 0rem;
        color: white; }
      #form form .section-contacto__form--consulta textarea {
        width: 45vw;
        resize: none;
        font-size: medium;
        border: none; }
    #form form .section-contacto__form--borrar-enviar {
      display: flex; }
      #form form .section-contacto__form--borrar-enviar div {
        margin: 0rem 2rem; }
    #form form button {
      font-size: 1.2rem;
      padding: 0rem 0.5rem; }
    #form form #borrar:hover {
      background-color: red; }

header {
  height: 12vh;
  background-color: #d53ffa;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%; }
  header .logo {
    height: 12vh;
    padding-left: 2rem; }
  header nav {
    position: absolute;
    left: 60%;
    align-self: center; }
    header nav a {
      padding: 0rem 1rem;
      color: #fafa00;
      text-decoration: none;
      font-weight: 900;
      font-size: 2.5vh;
      font-family: "Josefin Sans", sans-serif; }
      header nav a:hover {
        color: white; }
  header .div-contador {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;
    cursor: pointer; }
    header .div-contador .dropdown-menu {
      font-family: "Josefin Sans", sans-serif;
      font-size: 1rem;
      background-color: #ece7e7;
      width: 29rem;
      word-spacing: 0.1rem; }
      header .div-contador .dropdown-menu #render-producto {
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center; }
        header .div-contador .dropdown-menu #render-producto img {
          margin: 0rem 0rem 0.5rem -1rem; }
        header .div-contador .dropdown-menu #render-producto .alinear-delete {
          display: flex;
          justify-content: space-between; }
          header .div-contador .dropdown-menu #render-producto .alinear-delete span {
            padding-right: 0.4rem;
            color: #cf1818; }
      header .div-contador .dropdown-menu #agrandar-descuento {
        font-size: 1.5rem; }
      header .div-contador .dropdown-menu #productos-carrito {
        font-size: 1.1rem;
        text-align: center; }
      header .div-contador .dropdown-menu #descuento-carrito {
        font-size: 1.15rem;
        font-family: "Staatliches", cursive;
        letter-spacing: 0.1rem;
        padding-left: 16.5rem; }
      header .div-contador .dropdown-menu #subtotal-carrito {
        font-size: 1.15rem;
        font-family: "Staatliches", cursive;
        letter-spacing: 0.1rem;
        padding-left: 16.5rem; }
      header .div-contador .dropdown-menu #total {
        font-family: "Staatliches", cursive;
        font-size: 1.4rem;
        padding-left: 16.6rem;
        letter-spacing: 0.1rem; }
      header .div-contador .dropdown-menu #estilo-pagar {
        font-weight: 800;
        font-size: 1rem;
        color: #ff0dba;
        cursor: pointer;
        text-align: end;
        padding-right: 8rem;
        font-size: 1.3rem; }
        header .div-contador .dropdown-menu #estilo-pagar:hover {
          background-color: #ece7e7;
          color: #d53ffa; }
    header .div-contador .modal .modal-body {
      font-size: 1.5rem; }
    header .div-contador .modal .btn-secondary {
      background-color: #ff0dba;
      border-color: #ff0dba; }
      header .div-contador .modal .btn-secondary:hover {
        background-color: #fafa00;
        border-color: #fafa00;
        color: black; }
    header .div-contador .modal #logo-modal {
      height: 6rem; }
    header .div-contador .cart {
      position: absolute;
      z-index: 1;
      align-self: center;
      height: 11vh;
      padding-right: 2rem; }
    header .div-contador #contador-clicks {
      position: relative;
      z-index: 2;
      right: 1.1rem;
      top: 0.12rem;
      color: black;
      font-weight: 700; }

.off {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
  color: white;
  text-align: center;
  height: 1.5rem; }

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Staatliches", cursive;
  height: 5rem;
  color: ghostwhite;
  background-color: black;
  letter-spacing: 0.2rem; }

.background-attachment {
  background-image: url("../assets/background1.png");
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed, scroll; }
  @media screen and (min-width: 1400px) {
    .background-attachment {
      height: 23vh; } }
  .background-attachment p {
    align-self: center;
    font-size: 2rem;
    background-color: #ff0dba;
    color: black;
    width: 25vw;
    height: 7vh;
    text-align: center;
    letter-spacing: 1px;
    font-family: "Staatliches", cursive; }
    @media screen and (min-width: 1400px) {
      .background-attachment p {
        height: 5vh; } }

.solid-black {
  height: 7vh;
  background-color: black; }

.productos-h2 {
  text-align: center;
  padding-top: 1.5rem; }
  .productos-h2 h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-shadow: #ff0dba 0.1em 0.1em 0.2em; }

.asideYproductos {
  display: flex;
  padding-bottom: 3rem; }
  .asideYproductos aside {
    padding-left: 0.7rem;
    font-family: "Josefin Sans", sans-serif; }
    .asideYproductos aside h3 {
      padding-bottom: 0.8rem;
      font-family: "Staatliches", cursive;
      font-size: 1.4rem;
      text-shadow: #d53ffa 0.1em 0.1em 0.3em; }
    .asideYproductos aside label {
      line-height: 2.5rem;
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.2rem; }
      @media screen and (min-width: 1400px) {
        .asideYproductos aside label {
          font-size: 1.5rem; } }
    .asideYproductos aside div {
      padding-bottom: 0.6rem; }
    .asideYproductos aside .filtro-negro {
      background-color: black;
      width: 2vw;
      border-radius: 15px;
      padding: -0rem 1.2rem; }
    .asideYproductos aside .filtro-beige {
      background-color: #c0a076;
      color: #c0a076;
      width: 2vw;
      border-radius: 15px;
      padding: -0rem 1.2rem; }
    .asideYproductos aside .filtro-rosa {
      background-color: #d38ec5;
      color: #d38ec5;
      width: 2vw;
      border-radius: 15px;
      padding: -0rem 1.2rem; }
    .asideYproductos aside .filtro-verde {
      background-color: #324827;
      color: #324827;
      width: 2vw;
      border-radius: 15px;
      padding: -0rem 1.2rem; }
    .asideYproductos aside .filtro-rojo {
      background-color: red;
      color: red;
      width: 2vw;
      border-radius: 15px;
      padding: -0rem 1.2rem; }
  .asideYproductos .productos {
    display: flex;
    align-items: center;
    padding: 0rem 2rem; }
    .asideYproductos .productos #productos-grid {
      display: grid;
      grid-template-rows: repeat(4, auto);
      grid-template-columns: repeat(3, auto);
      row-gap: 2rem;
      column-gap: 3rem; }
      .asideYproductos .productos #productos-grid .div-productos {
        padding-bottom: 0.8rem; }
        .asideYproductos .productos #productos-grid .div-productos:hover {
          box-shadow: 0 0 10px #8c8888; }
      .asideYproductos .productos #productos-grid img {
        box-shadow: 0 0 10px gray;
        margin-bottom: 0.5rem; }
        @media screen and (max-width: 800px) {
          .asideYproductos .productos #productos-grid img {
            height: 35vh; } }
        @media screen and (max-width: 1400px) {
          .asideYproductos .productos #productos-grid img {
            height: 73vh; } }
        @media screen and (min-width: 1400px) {
          .asideYproductos .productos #productos-grid img {
            height: 63vh; } }
      .asideYproductos .productos #productos-grid p {
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        font-size: 1.2rem;
        font-family: "Staatliches", cursive; }
      .asideYproductos .productos #productos-grid div > div {
        display: flex;
        justify-content: space-between;
        align-items: baseline; }
        .asideYproductos .productos #productos-grid div > div select {
          border-radius: 10%; }
        .asideYproductos .productos #productos-grid div > div .boton-comprar {
          font-family: "Staatliches", cursive;
          font-size: 1rem;
          padding: 0rem 0.2rem;
          margin-right: 0.5rem;
          border-radius: 10%;
          background-color: #fafa00; }
          .asideYproductos .productos #productos-grid div > div .boton-comprar:hover {
            background-color: #ff0dba; }
        .asideYproductos .productos #productos-grid div > div label {
          font-family: "Josefin Sans", sans-serif;
          font-size: 1.1rem;
          padding-right: 0.5rem; }

footer {
  display: flex;
  justify-content: center;
  height: 6vh;
  background-color: #d53ffa;
  color: black;
  font-size: 1.1rem;
  text-align: center;
  font-family: "Josefin Sans", sans-serif; }
  footer p {
    align-self: center; }
