// IMPORTS

@import './componentes/variables';
@import './componentes/mixins';
@import './componentes/contacto';

header {
    height: 12vh;
    background-color: $color1;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    .logo {
        height: 12vh;
        padding-left: 2rem;
    }
    nav {
        position: absolute;
        left: 60%;
        align-self: center;
        a {
            padding: 0rem 1rem;
            color: $color4;
            text-decoration: none;
            font-weight: 900;
            font-size: 2.5vh;
            font-family: $font-secondary;
            &:hover {color: white;}
        }
    }
    .div-contador {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 5rem;
        cursor: pointer;
        .dropdown-menu {
            font-family: $font-secondary;
            font-size: 1rem;
            background-color: $color7;
            width: 29rem;
            word-spacing: 0.1rem;
            #render-producto {
                display: grid;
                grid-template-columns: repeat(2, auto);
                align-items: center;
                img {
                    margin: 0rem 0rem 0.5rem -1rem;
                }
                .alinear-delete {
                    display: flex;
                    justify-content: space-between;
                    span {
                        padding-right: 0.4rem;
                        color: rgb(207, 24, 24);
                    }
                }
            }
            #agrandar-descuento {
                font-size: 1.5rem;
            }
            #productos-carrito {
                font-size: 1.1rem;
                text-align: center;
            }
            #descuento-carrito {
                @include descuento-subtotal;
            }
            #subtotal-carrito {
                @include descuento-subtotal;
            }
            #total {
                font-family: $font-primary;
                font-size: 1.4rem;
                padding-left: 16.6rem;
                letter-spacing: 0.1rem;
            }
            #estilo-pagar {
                font-weight: 800;
                font-size: 1rem;
                color: $color2;
                cursor: pointer;
                text-align: end;
                padding-right: 8rem;
                font-size: 1.3rem;
                &:hover {
                    background-color: $color7;
                    color: $color1;
                }
            }
        }
        .modal {
            .modal-body {
                font-size: 1.5rem;
            }
            .btn-secondary {
                background-color: $color2;
                border-color: $color2;
                &:hover {
                    background-color: $color4;
                    border-color: $color4;
                    color: black;
                }
            }
            #logo-modal {
                height: 6rem;
            }
        }
        .cart {
            position: absolute;
            z-index: 1;
            align-self: center;
            height: 11vh;
            padding-right: 2rem;
        }
        #contador-clicks {
            position: relative;
            z-index: 2; 
            right: 1.1rem;
            top: 0.12rem;
            color: rgb(0, 0, 0);
            font-weight: 700;
        }
    }
}

.off {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: $font-secondary;
    font-size: 0.9rem;
    color: white;
    text-align: center;
    height: 1.5rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $font-primary;
    height: 5rem;
    color: ghostwhite;
    background-color: black;
    letter-spacing: 0.2rem;
}

.background-attachment {
    background-image: url("../assets/background1.png");
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed, scroll;
    @media screen and (min-width: 1400px) {
        height: 23vh;
    }
    p {
        align-self: center;
        font-size: 2rem;
        background-color: $color2;
        color: rgb(0, 0, 0);
        width: 25vw;
        height: 7vh;
        text-align: center;
        letter-spacing: 1px;
        font-family: $font-primary;
        @media screen and (min-width: 1400px) {
            height: 5vh;
        }
    }
}

.solid-black {
    height: 7vh;
    background-color: black;
}

.productos-h2 {
    text-align: center;
    padding-top: 1.5rem;
    h2 {
        font-family: $font-secondary;
        font-size: 2rem;
        padding-bottom: 2rem;
        text-shadow: $text-shadow;
    }
}

.asideYproductos {
    display: flex;
    padding-bottom: 3rem;
    aside {
        padding-left: 0.7rem;
        font-family: $font-secondary;
        h3 {
            padding-bottom: 0.8rem;
            font-family: $font-primary;
            font-size: 1.4rem;
            text-shadow: $color1 0.1em 0.1em 0.3em;
        }
        label {
            line-height: 2.5rem;
            font-family: $font-secondary;
            font-size: 1.2rem;
            @media screen and (min-width: 1400px) {
                font-size: 1.5rem;
            }
        }
        div {
            padding-bottom: 0.6rem;
        }
        .filtro-negro {
            background-color: black;
            @include filtros;
        }
        .filtro-beige {
            background-color: rgb(192, 160, 118);
            color: rgb(192, 160, 118);
            @include filtros;
        }
        .filtro-rosa {
            background-color: rgb(211, 142, 197);
            color:rgb(211, 142, 197);
            @include filtros;
        }
        .filtro-verde {
            background-color: rgb(50, 72, 39);
            color: rgb(50, 72, 39);
            @include filtros;
        }
        .filtro-rojo {
            background-color: red;
            color: red;
            @include filtros
        }
    }
    .productos {
        display: flex;
        align-items: center;
        padding: 0rem 2rem;
        #productos-grid {
            display: grid;
            grid-template-rows: repeat(4, auto);
            grid-template-columns: repeat(3, auto);
            row-gap: 2rem;
            column-gap: 3rem;
            .div-productos {
                &:hover {
                    box-shadow: $box-shadow2;
                }
                padding-bottom: 0.8rem;
            }
            img {
                box-shadow: $box-shadow1;
                margin-bottom: 0.5rem;
                @media screen and (max-width: 800px) {
                    height: 35vh;
                }
                @media screen and (max-width: 1400px) {
                    height: 73vh;
                }
                @media screen and (min-width: 1400px) {
                    height: 63vh;
                }
            }
            p{
                padding-top: 0.5rem;
                padding-left: 0.5rem;
                font-size: 1.2rem;
                font-family: $font-primary;
            }
            div>div {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                select {
                    border-radius: 10%;
                }
                .boton-comprar {
                    font-family: $font-primary;
                    font-size: 1rem;
                    padding: 0rem 0.2rem;
                    margin-right: 0.5rem;
                    border-radius: 10%;
                    background-color: $color4;
                    &:hover {
                        background-color: $color2;
                    }
                }
                label {
                    font-family: $font-secondary;
                    font-size: 1.1rem;
                    padding-right: 0.5rem;
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    height: 6vh;
    background-color: $color1;
    color: black;
    font-size: 1.1rem;
    text-align: center;
    font-family: $font-secondary;
    p {
        align-self: center;
    }
}